header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #2563EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    z-index: 1000;
}

.logo{
    color: white;
    font-size: 32px;
    font-weight: bold;
}

nav a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 600;
}

.hero{
    padding: 180px 8% 100px;
    text-align: center;
}@media (max-width: 768px) {
    nav {
        display: none;
    }

    .logo {
        font-size: 48px;
        text-align: center;
        width: 100%;
    }

    header {
        justify-content: center;
    }
}
